In [25]:
import pandas as pd

In [26]:
miRNA_A=pd.read_csv("/Users/miyakesho/Box Sync/Personal/m6A/data/phase2/miRNA/mir1_decrease.csv")
miRNA_B=pd.read_csv("/Users/miyakesho/Box Sync/Personal/m6A/data/phase2/miRNA/mir155_decrease.csv")
both=pd.read_csv("/Users/miyakesho/Box Sync/Personal/m6A/data/phase2/miRNA/Both_target.csv")
reader=pd.read_csv("/Users/miyakesho/Box Sync/Personal/m6A/data/phase2/Reader/statistical_decrease_Reader.csv")

In [27]:
A_reader=pd.merge(miRNA_A,reader,on="Gene symbol")
A_reader

,RefseqAccession,logfold_TE,Gene symbol,siControl_ribo1,siYTHDF1_ribo1,ribo_log2(siYTHDF1/siControl)1,siControl_RNA1,siYTHDF1_RNA1,polyA_log2(siYTHDF1/siControl)1,TE_log2(siYTHDF1/siControl)1,...,siControl_RNA2,siYTHDF1_RNA2,polyA_log2(siYTHDF1/siControl)2,TE_log2(siYTHDF1/siControl)2,ribo_log2(siYTHDF1/siControl)ave,polyA_log2(siYTHDF1/siControl)ave,TE_log2(siYTHDF1/siControl)ave,pvalue,color,logpv
0,NM_006345,-0.746148,SLC30A9,81.62,33.99,-1.26,66.78,72.64,0.12,-1.39,...,48.07,57.36,0.26,-2.19,-1.60,0.19,-1.79,0.031650,red,1.499632
1,NM_031954,-0.461210,KCTD10,16.81,7.69,-1.13,10.83,11.91,0.14,-1.27,...,16.79,17.75,0.08,-1.10,-1.07,0.11,-1.18,0.056486,red,1.248062
2,NM_000629,-1.557137,IFNAR1,13.22,3.30,-2.00,11.52,9.73,-0.24,-1.76,...,9.22,9.61,0.06,-0.62,-1.28,-0.09,-1.19,0.083775,red,1.076888

In [28]:
B_reader=pd.merge(miRNA_B,reader,on="Gene symbol")
B_reader

,RefseqAccession,logfold_TE,Gene symbol,siControl_ribo1,siYTHDF1_ribo1,ribo_log2(siYTHDF1/siControl)1,siControl_RNA1,siYTHDF1_RNA1,polyA_log2(siYTHDF1/siControl)1,TE_log2(siYTHDF1/siControl)1,...,siControl_RNA2,siYTHDF1_RNA2,polyA_log2(siYTHDF1/siControl)2,TE_log2(siYTHDF1/siControl)2,ribo_log2(siYTHDF1/siControl)ave,polyA_log2(siYTHDF1/siControl)ave,TE_log2(siYTHDF1/siControl)ave,pvalue,color,logpv
0,NM_001082480,-0.426549,ZNF623,7.29,1.40,-2.38,6.35,6.72,0.08,-2.47,...,4.71,4.60,-0.04,-0.95,-1.68,0.02,-1.71,0.097848,red,1.009449
1,NM_001145525,-0.427599,RAI14,47.10,27.93,-0.75,23.00,29.25,0.35,-1.10,...,16.53,14.62,-0.18,-1.04,-0.99,0.09,-1.07,0.018597,red,1.730564
2,NM_012197,-0.444538,RABGAP1,50.76,18.44,-1.46,15.56,19.46,0.32,-1.78,...,11.62,11.94,0.04,-1.19,-1.30,0.18,-1.49,0.033378,red,1.476538
3,NM_000629,-0.886317,IFNAR1,13.22,3.30,-2.00,11.52,9.73,-0.24,-1.76,...,9.22,9.61,0.06,-0.62,-1.28,-0.09,-1.19,0.083775,red,1.076888
4,NM_080599,-0.726391,UPF2,15.78,1.89,-3.06,5.39,4.91,-0.14,-2.93,...,5.67,5.66,0.00,-0.99,-2.03,-0.07,-1.96,0.061114,red,1.213860
5,NM_004757,-0.448790,AIMP1,301.67,135.88,-1.15,18.37,18.32,0.00,-1.15,...,18.62,23.14,0.31,-2.38,-1.61,0.15,-1.76,0.041065,red,1.386524

In [29]:
B_reader[["Gene symbol"]]

  Gene symbol
0      ZNF623
1       RAI14
2     RABGAP1
3      IFNAR1
4        UPF2
5       AIMP1

In [30]:
both_reader=pd.merge(both,reader,on="Gene symbol")
both_reader

,RefseqAccession,logfold_TE_mir1,logfold_TE_mir155,Gene symbol,siControl_ribo1,siYTHDF1_ribo1,ribo_log2(siYTHDF1/siControl)1,siControl_RNA1,siYTHDF1_RNA1,polyA_log2(siYTHDF1/siControl)1,...,siControl_RNA2,siYTHDF1_RNA2,polyA_log2(siYTHDF1/siControl)2,TE_log2(siYTHDF1/siControl)2,ribo_log2(siYTHDF1/siControl)ave,polyA_log2(siYTHDF1/siControl)ave,TE_log2(siYTHDF1/siControl)ave,pvalue,color,logpv
0,NM_000629,-1.557137,-0.886317,IFNAR1,13.22,3.3,-2.0,11.52,9.73,-0.24,...,9.22,9.61,0.06,-0.62,-1.28,-0.09,-1.19,0.083775,red,1.076888

In [15]:
A_reader.to_csv("mir1_reader.csv",index=False)
B_reader.to_csv("mir155_reader.csv",index=False)