In [1]:
#CDSにおいてコドンをみることで出現頻度を比較

In [2]:
# SeqIO.parse(...)として呼び出せるように書いてください
"Bio(Biopython)からSeqIOモジュールをインポート" 
from Bio import SeqIO
# pd.DataFrame(...)が呼び出せるように書いてください
"pandasをpdと言う名前でインポート" 
import pandas as pd
# plt.figure()を実行できるように書いてください
"matplotlibのpyplotモジュールをpltという名前でインポート"
import matplotlib.pyplot as plt

In [3]:
path_to_genbank_file = ("/Users/miyakesho/Google_Drive/master/Class/生物情報実験法/python/task1/GCF_000231385.2_ASM23138v3_genomic.gbff") # 自分のファイルに書き換えてください
records = SeqIO.index(path_to_genbank_file, 'gb')

In [4]:
def dictionary_make(length):
    dictionary={}
    DNA=["A","T","G","C"]
    kmer=["A","T","G","C"]
    while (len(kmer[0])<length):
        new_kmer=[]
        for seq in kmer:
            for base in DNA:
                new_kmer.append(seq+base)
        kmer=new_kmer
    for sequence in kmer: 
        dictionary[sequence]=0
    return dictionary

In [5]:
def get_seq():
    path_to_genbank_file = ("GCF_000231385.2_ASM23138v3_genomic.gbff") 
    records = SeqIO.index(path_to_genbank_file, 'gb')
    record = records[list(records.keys())[0]]
    bacteria_sequence=record.seq
    
    return bacteria_sequence

In [19]:
def codon_count(kmer_dict,length,DNA):
    for i in range(0,len(DNA)-length,3):
        seq=DNA[i:i+length]
        kmer_dict[seq]+=1
    return kmer_dict

In [ ]:
def kmer_count(kmer_dict,length,DNA):
    for i in range(0,len(DNA)-length):
        seq=DNA[i:i+length]
        kmer_dict[seq]+=1
    return kmer_dict

In [26]:
def make_codon_dictionary(length):
    count=0
    genome_sequence=get_seq()
    CDS_dictionary=dictionary_make(length)
    start_codon=["ATG","GTG","ATA","TTG"]
    
    for record_id, record in records.items():
        for feature in record.features:
            if feature.type=="CDS":
                CDS_sequence=genome_sequence[feature.location.start:feature.location.end]
                start=CDS_sequence[0:3]
                
                if start in start_codon:
                    CDS_dictionary=codon_count(CDS_dictionary,length,CDS_sequence)
                    count+=1
    print(count)
    return CDS_dictionary

In [36]:
length=3
codon_dictionary=make_codon_dictionary(length)

/anaconda3/lib/python3.7/site-packages/Bio/Seq.py:165: BiopythonWarning: Biopython Seq objects now use string comparison. Older versions of Biopython used object comparison. During this transition, please use hash(id(my_seq)) or my_dict[id(my_seq)] if you want the old behaviour, or use hash(str(my_seq)) or my_dict[str(my_seq)] for the new string hashing behaviour.
  "the new string hashing behaviour.", BiopythonWarning)

2225

In [37]:
CDS_dict_df=[]
for i,j in codon_dictionary.items():
    CDS_dict_df.append([i,j])
CDS_dict_df=pd.DataFrame(CDS_dict_df,columns=["codon","count"])
print(CDS_dict_df)

   codon  count
0    AAA  26715
1    AAT  19510
2    AAG  16362
3    AAC   9699
4    ATA  10981
5    ATT  26838
6    ATG  17516
7    ATC  14151
8    AGA   7625
9    AGT   9333
10   AGG   4146
11   AGC   6961
12   ACA  10207
13   ACT  10921
14   ACG   5098
15   ACC  10360
16   TAA     87
17   TAT  16629
18   TAG     67
19   TAC   6252
20   TTA  19325
21   TTT  20276
22   TTG  12463
23   TTC   8166
24   TGA    108
25   TGT   4738
26   TGG   7208
27   TGC   3157
28   TCA   7779
29   TCT   8363
..   ...    ...
34   GAG  16173
35   GAC   9435
36   GTA  11971
37   GTT  18672
38   GTG   8835
39   GTC   9243
40   GGA  17194
41   GGT  13124
42   GGG  10622
43   GGC   9942
44   GCA  13953
45   GCT  17639
46   GCG   5912
47   GCC  14165
48   CAA  14993
49   CAT   8495
50   CAG  10158
51   CAC   3504
52   CTA   7097
53   CTT  13977
54   CTG  12229
55   CTC   6505
56   CGA   4627
57   CGT   5938
58   CGG   4161
59   CGC   4380
60   CCA   5465
61   CCT   8782
62   CCG   5834
63   CCC   5994

[64 rows x 2 columns]

In [38]:
CDS_dict_df.sort_values(by=["count"], ascending=True)

   codon  count
18   TAG     67
16   TAA     87
24   TGA    108
27   TGC   3157
51   CAC   3504
30   TCG   3571
10   AGG   4146
58   CGG   4161
59   CGC   4380
56   CGA   4627
25   TGT   4738
14   ACG   5098
60   CCA   5465
62   CCG   5834
46   GCG   5912
57   CGT   5938
63   CCC   5994
19   TAC   6252
55   CTC   6505
11   AGC   6961
52   CTA   7097
26   TGG   7208
31   TCC   7277
8    AGA   7625
28   TCA   7779
23   TTC   8166
29   TCT   8363
49   CAT   8495
61   CCT   8782
38   GTG   8835
..   ...    ...
43   GGC   9942
50   CAG  10158
12   ACA  10207
15   ACC  10360
42   GGG  10622
13   ACT  10921
4    ATA  10981
36   GTA  11971
54   CTG  12229
22   TTG  12463
41   GGT  13124
44   GCA  13953
53   CTT  13977
7    ATC  14151
47   GCC  14165
48   CAA  14993
34   GAG  16173
2    AAG  16362
17   TAT  16629
40   GGA  17194
6    ATG  17516
45   GCT  17639
37   GTT  18672
20   TTA  19325
1    AAT  19510
21   TTT  20276
33   GAT  23942
0    AAA  26715
5    ATT  26838
32   GAA  30638

[64 rows x 2 columns]